.menu-letreiro{
  display: flex;
  align-items: start;
  gap: 10px;
  position: relative;
}
.letreiro-lista{
  display: flex;
  flex-direction: row;
  transition: 0.4s;
}
/* Animção com JS */
.letras.hidden{
  display: none;
  transition: .4s ease-in-out;
  opacity: 0;
}