.menu-letreiro{
  display: flex;
  align-items: start;
  gap: 10px;
}
.letreiro-lista{
  display: flex;
  transition: 0.4s;
}
.letras{
  height: 50px;
  visibility: visible;
}
/* Animção com JS */
.letras.hidden{
  opacity: 0;
  visibility: hidden;
}