[data-menu="button"] {
  display: none;
  cursor: pointer;
  border: none;
  background: none;
  color: var(--cor-p1);
}
[data-menu="button"]:hover{
    color: #CAF3BA;
}

@media (max-width: 1000px) {
  [data-menu="button"] {
    display: block;
  }
  #hamburguer {
    display: block;
    border-top: 2px solid;
    width: 16px;
  }
  #hamburguer::after,
  #hamburguer::before {
    content: "";
    display: block;
    background: currentColor;
    width: 16px;
    height: 2px;
    margin-top: 4px;
    transition: 0.8s;
    position: relative;
  }

  [data-menu="suave"].ativo #hamburguer {
    border-top-color: transparent;
  }
  [data-menu="suave"].ativo #hamburguer::before {
    transform: rotate(135deg);
  }
  [data-menu="suave"].ativo #hamburguer::after {
    transform: rotate(-135deg);
    top: -6px;
  }
}
