.sobre{
  display: flex;
  flex-direction: column;
  padding: 100px 20px;
  gap: 40px;
}
.sobre > *{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-self: flex-end;
}
.paragrafos{
  display: flex;
  flex-direction: column;
  gap: 35px;
}
p{
  font-size: 18px;
  max-width: 60ch;
}
.button{
  width: max-content;
  padding: 10px 30px;
  text-transform: capitalize;
  cursor: pointer;
}
.sobre div > img{
  width: 450px;
  height: auto;
}