.container{
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
.titulo{
  font: 600 3.5rem/1 "Exo 2", sans-serif;
  width: 15ch;
  color: var(--cor-black);
  text-transform: capitalize;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@media(max-width:1000px){
  .titulo{
    font-size: 3rem;
  }
}