.culture-bg{
  background: var(--cor-black);
}
.culture-bg h1{
  color: var(--cor-white);
}
.culture-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  padding:0px 30px;
  box-shadow:inset 0 -80px var(--cor-white);
}
.culture-txt{
  display: flex;
  flex-direction: column;
  gap: 60px;
  color: var(--cor-white);
}
.culture-txt div {
  max-width: 60ch;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.culture-txt h2{
  font-size: 1.5rem;
}
.culture-content > img{
  max-width: 800px;
}
@media(max-width:1300px){
  .culture-txt h3{
    font-size: 1.2rem;
  }
  .culture-txt div {
    max-width: initial;
  }
}
@media(max-width:1150px){
  .culture-content{
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 30px;
    box-shadow: none;
  }
  .culture-txt{
    align-items: center;
    gap: 30px;
  }
}
@media(max-width:650px){
  .culture-content{
    padding: 10px;
  }
}