.members{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  padding: 20px 0px;
  gap: 50px;
  position: relative;
}

.members-column{
  display: flex;
  width: max-content;
  gap: 20px;
}
.slideLeft{
  animation: slideLeft 4s linear infinite;
}
.slideRight{
  animation: slideRight 4s linear infinite;
}

@keyframes slideLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
/* Efeito na coluna */
.members::before,
.members::after{
  position: absolute;
  top: 0;
  width: 150px;
  height: 100%;
  content: "";
  z-index: 2;
}
.members::before{
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}
.members::after{
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
@media(max-width:1000px){
.members::before,
.members::after{
  width: 50px;
}
}