.brands-bg{
  background: #F7F7F7;
}
.brands img{
  display: initial;
  width: 150px;
}
.brands {
  overflow: hidden;
  padding: 5px;
  white-space: nowrap;
  position: relative;
}
.brands:before,
.brands:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.brands:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #F7F7F7 );
}
.brands:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0),  #F7F7F7);
}
.brands:hover .brands-slide {
  cursor: pointer;
  animation-play-state: paused;
}
.brands-slide {
  display: inline-block;
  animation: 24s slide infinite linear;
}
.brands-slide img {
  height: 35px;
  margin: 0 40px;
}
@media(max-width:600px){
  .brands-slide img{
    height: 25px;
    margin: 0 20px;
  }
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}