.slider{
  align-content: center;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0;
  overflow: hidden;
  position: relative;
  padding-top: 110px;
  transition: .4s ease;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  text-align: center;
  transition: 1s;
}

.slide-box img{
  width: 100%;
}

.nav-manual,
.nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 48%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.manual-btn, .nav-auto div{
  border: 2px solid #CAF3BA;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
.manual-btn:hover{
  background-color:#CAF3BA;
}

#radio1:checked ~ .nav-auto .auto-btn-1,
#radio2:checked ~ .nav-auto .auto-btn-2,
#radio3:checked ~ .nav-auto .auto-btn-3,
#radio4:checked ~ .nav-auto .auto-btn-4{
  background-color: #CAF3BA;
}

#radio1:checked ~ .primeiro{
  margin-left: 0%;
}
#radio2:checked ~ .primeiro{
  margin-left: -25%;
}
#radio3:checked ~ .primeiro{
  margin-left: -50%;
}
#radio4:checked ~ .primeiro{
  margin-left: -75%;
}
@media (max-width:1000px){
  .nav-manual,
  .nav-auto{
    margin-top: 45%;
  }
}