.cards-news{
  display: grid;
  grid-template-columns: 1fr;
  align-items: flex-start;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.cards-news,
.cards-news-info{
  background: linear-gradient(to left, #a5f5d8, #caf3ba, #f6f096);
  background-size: 500% 100%;
  animation: gradient-animado 4s infinite alternate;
}
.cards-news-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  z-index: 1;
}
.cards-news-spans{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cor-black);
  border-top: 1px solid var(--cor-black);
  padding: 10px;
  text-transform: uppercase;
  transition: .4s;
}
.cards-news-small img{
  max-height: 510px;
}
.cards-news img{
  transition: .4s;
}
.cards-news img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

/* animação gradiente */
@keyframes gradient-animado {
  0% {
    background-position-x: 0%;
  }
  50% {
    background-position-x: 50%;
  }
  100% {
    background-position-x: 100%;
  }
}