[data-menu="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--cor-white);
  background: var(--cor-black);
  min-height: 40px;
  min-width: 30px;
  border-radius: 50%;
  color: var(--cor-white);
  z-index: 2;
}
[data-menu="button"]:hover{
    color: #CAF3BA;
}
#hamburguer {
  display: block;
  border-top: 2px solid;
  width: 16px;
}
#hamburguer::after,
#hamburguer::before {
  content: "";
  display: block;
  background: currentColor;
  width: 16px;
  height: 2px;
  margin-top: 4px;
  transition: 0.8s;
  position: relative;
}
[data-menu="button"].ativo #hamburguer {
    border-top-color: transparent;
  }
[data-menu="button"].ativo #hamburguer::before {
    transform: rotate(135deg);
}
[data-menu="button"].ativo #hamburguer::after {
    transform: rotate(-135deg);
    top: -6px;
}
