.header-bg{
  position: fixed;
  width: 100%;
  z-index: 3;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.header-nav-content{
  display: flex;
  align-items: start;
  gap: 10px;
}
.header-btns{
  display: flex;
  align-items: center;
  gap: 15px;
}
i{
  color: var(--cor-black);
  font-size: 20px;
  -webkit-text-stroke:1px;
  -webkit-text-stroke-color: var(--cor-white);
}
.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100%;
  text-transform: uppercase;
  text-align: left;
  font: 600 2.1rem/1.2 "Exo 2", sans-serif;
}
.menu a{
  position: relative;
  color: var(--cor-white);
}
.menu li a::after{
  content: '';
  width: 0%;
  height: 0px;
  left: 0;
  bottom:-5px;
  background-color: transparent;
  position: absolute;
  transition: .8s;
}
.menu li a:hover::after{
  width: 100%;
  height: 4px;
  background: linear-gradient(to left, #a5f5d8, #caf3ba, #f6f096);
}
/* Interação JS */
[data-menu="suave"]{
  display: none;
  transition: .4s;
}
[data-menu="suave"].ativo{
  display: block;
  position: absolute;
  top: 35px;
  left: 5px;
  margin: auto;
  width: 360px;
  height: 550px;
  background: rgba(0, 0, 0, 0.9);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 30px;
  z-index: 1;
}