
.fontExo-m-b{
  font: 600 1.125rem/1.2 "Exo 2", sans-serif;
}
.fontExo-l-b{
    font: 600 2rem/1.2 "Exo 2", sans-serif;
}
.fontExo-xl-b{
    font: 600 2.25rem/1.2 "Exo 2", sans-serif;
}
.fontExo-xxl-b{
    font: 600 4rem/1.2 "Exo 2", sans-serif;
}
.fontExo-exl-b{
    font: 600 8.75rem/1.2 "Exo 2", sans-serif;
}