.fontInter-xs{
  font: 400 0.625rem/1.2 "Inter", sans-serif;
}
.fontInter-x,
.fontInter-x-b{
  font: 400 0.875rem/1.2 "Inter", sans-serif;
}
.fontInter-x-b{
  font-weight: 600;
}
.fontInter-m,
.fontInter-m-b{
  font: 400 1rem/1.2 "Inter", sans-serif;
}
.fontInter-m-b{
  font-weight: 600;
}