.artigos{
display: flex;
flex-direction: row;
justify-content: space-evenly;
max-height: 1350px;
gap: 20px;
}
.card-1{
  flex: 0 0 65%;
}
@media(max-width:1264px){
  .card-1{
    flex: 0 0 70%;
  }
}
.containerArtigos{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media(max-width:1000px){
  .artigos{
    flex-direction: column;
    max-height: initial;
  }
}
