.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.contact > h2{
  position: relative;
}

.btn-captura-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  z-index: 1;
  position: absolute;
  margin-top: 160px;
}
.btn-captura{
  width: max-content;
  padding: 30px 120px 30px 30px;
  cursor: pointer;
  background: var(--cor-white);
}
.btn-captura-container > p{
  max-width: 80ch;
  font: 400 0.625rem/1.2 'Inter', sans-serif;
  text-align: center;
}
@media(max-width:850px){
  .contact h2{
    font-size: 6rem;
  }
}
@media(max-width:650px){
  .contact h2{
    font-size: 3.5rem;
  }
}