.novidades{
  display: grid;
  grid-template-columns: 1.7fr 1fr;
  justify-content: space-around;
  gap: 10px;
  padding:40px 0px;
}
.novidades-container{
  display: flex;
  flex-direction: column;
}
.novidades-itens{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
  padding: 35px 5px;
  text-transform: capitalize;
  border-bottom: 0.5px solid #CCCBD0;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
.novidades-itens:before{
  content: '';
  position: absolute;
  top: 0%;
  right: 0%;
  width: 0%;
  height: 100%;
  background: linear-gradient(to left, #a5f5d8, #caf3ba, #f6f096);
  transition: .7s ease-in-out;
  z-index: -1;
}
.novidades-itens:hover::before{
  width: 100%;
}
.novidades-itens img{
  display: none;
}
@media(max-width:1440px){
  .novidades-container{
    overflow-y: scroll;
    max-height: 500px;
  }
}
@media(max-width:1000px){
  .img-destaque{
    display: none;
  }
  .novidades{
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .novidades-container{
    max-height: none;
  }
  .novidades-itens{
    padding: 0px 10px;
  }
  .novidades-itens img{
    display: block;
    width: 250px;
    height: auto;
  }
}
@media(max-width:650px){
  .novidades-itens img{
    width: 150px;
  }
}