.noticias{
  display: flex;
  flex-direction: column;
}
.noticias-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.artigo-large{
  grid-column: span 3;

}
@media(max-width:1000px){
  .noticias-container{
    display: flex;
    flex-direction: column;
  }
}
